@bg-white: #ffffff;
@bg-gray: #f0f2f5;

@bg-page: @bg-white;
@bg-page-content: @bg-gray;

.layout-main {
  width: 100vw;
  height: 100vh;
  background: @bg-page;

  .layout-content {
    background: @bg-page-content;
  }
}
